#numberd{
  background: orange;
  width: 400px;
  font-size: 128px;
  text-align: center;
  padding-top: 63px;
  padding-bottom: 63px;
  height: 350px;
  line-height: normal;
  position: relative;
  left: 100px;
  bottom: -40px;
}

#numbera{
  background: orange;
  width: 400px;
  font-size: 128px;
  text-align: center;
  padding-top: 63px;
  padding-bottom: 63px;
  height: 350px;
  line-height: normal;
  position: relative;
  left: 50px;
  bottom: -40px;
}

#numbera:before {
  content: "Accuracy (%) ";
  font-size: 40px;
  font-weight: bold;
}

#numberd:before {
  content: "Distance (yds) ";
  font-size: 40px;
  font-weight: bold;
}

.button1{
  padding: 10px 24px;
  width: 1000px;
  height: 70px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#line2, #distance, #plot{
  font-size: 17px;
  font-weight: bold;
}

.form-actions {
  margin: 0;
  background-color: transparent;
  text-align: center;
}

.card-body{
  width: 1600px;
  margin: 3;
}

#player_name{
  font-weight: bold;
}

table { 
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  /* Table reset stuff */
  border-collapse: collapse; 
  border-spacing: 0; 
}
		
td, th {  border: 0 none; height: 30px; padding-left: 20px; padding-right: 20px}
			
th {
  /* Gradient Background */
	background: linear-gradient(#333 0%,#444 100%);
	color: #FFF; font-weight: bold;
	height: 40px;
}
		
td { background: #FAFAFA; text-align: left; }

/* Zebra Stripe Rows */
		
tr:nth-child(even) td { background: #EEE; } 
tr:nth-child(odd) td { background: #FDFDFD; }



/* Add border-radius to specific cells! */
tr:first-child th:nth-child(2) { 
  border-radius: 5px 0 0 0; 
} 

tr:first-child th:last-child { 
  border-radius: 0 5px 0 0; 
}