<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- css  -->
    <link rel="stylesheet" href="static/css/dc.css" />
    <link rel="stylesheet" href="static/css/style.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- D3 viz -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <!-- javascript call -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <!-- crossfilter -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/3.0.12/dc.min.js"></script>

</head>


<body>

    <div class="container-fluid" style="width:1300px">
        <main>
                <div class="jumbotron jumbotron-fluid">
                  
                        <div class="row">
                            <div class="col-lg-1">
                                <img style="position:relative; left:60px" id="pga_logo" src="https://images.all-free-download.com/images/graphiclarge/pga_tour_logo_30207.jpg" width="130">
                            </div>
                            <div class="col-lg-11">
                                <h1 style="position:relative; left:110px; font-size: 80px" class="display-4">PGA Tour Performance</h1>
                                <p style="position:relative; left:110px; font-size: 25px" class="lead">Visualizing 40 years of driving distance and accuracy on the PGA tour</p>
                            </div>
                        </div>
                        
                    
                </div>
    
                <div class="row">
                    <div class='col-lg-12'>
                        <div id="plot"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <strong style="position:relative;left:110px;font-size:20px">Fairway Percentage</strong>
                        <div id="pie"></div>
                    </div>

                    <div class="col-lg-8">
                        <div id="distance"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div id="line2"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class='dc-data-count'>
                            <span class='filter-count'></span>
                            selected out of <span class='total-count'></span> records.
                        </div>
                    </div>
                </div>

                <div id="nas_table" class="row">
                    <div class="col-lg-4">
                        <strong style="font-size:25px; font-style:italic;">TOP 10 PLAYERS (DISTANCE)</strong>
                        <div class='dc-data-table'></div>
                    </div>

                    <br>

                    <div class="col-lg-4">
                        <div id="numberd"></div>
                    </div>

                    <div class='col-lg-4'>
                        <div id="numbera"></div>
                    </div>
                </div>

                <br><br>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-actions">
                            <button class="button1" id="download">See Players</button>
                        </div>
                    </div>
                </div>

                <br><br>
    
                <div id="player_cards" class="row">
                    <!-- <div class="card border-primary mb-3">
                        <div class="card-body">
                        </div>
                    </div> -->
                </div>

        </main>

    </div>


    <!--Jquery bootstrap code-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



</body>

</html>